<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Book</title>
</head>
<body>
<section layout:fragment="content">
    <p>
    <h2>The List of Book</h2>
    <div th:each="detail : ${books}">
        <a th:href="@{'/book/show/' + ${detail.id}}"><span th:text="${detail.id}"></span></a>
        <span th:text="${detail.id}">Book id</span>
        <span th:text="${detail.title}">hogehoge</span>
        <span th:text="${detail.author}">author</span>
        <span th:text="${detail.publisher}">publisher</span>
        <span th:text="${detail.publishDate}">2017-04-29</span>
    </div>
    <div>
        <a th:href="@{'/book/input'}">New Book</a>
    </div>
    </p>
</section>
</body>
</html>